* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(252, 200, 140);
}

.header {
  display: flex;
}

.header2 {
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 1519px;
  height: 200px;
  background-color: rgb(252, 230, 203);
  border-top: 1px black;
  margin-top: 25px;
}

.review {
  height: 200px;
  width: 300px;
}

.logo{
  height: 75px;
  width: 250px;
  vertical-align: bottom;
}

.banner{
  margin-top: 25px;
  align-items: center;
}

.banner-image {
  width: 1519px;
  height: 400px;
}

.home-info{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.contents{
  width: 450px;
  height: 350px;
  background-color:rgb(252, 230, 203);
  border-radius: 10px;
  border: solid black 1px;
}

.h1 {
  font-family: Arial, Helvetica, sans-serif; 
  text-align: center; 
  color: rgb(248, 180, 97); 
  margin-top: 10px; 
  text-decoration: underline;
}

.p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  text-align: center;
  color: rgb(248, 180, 97);
  margin-top: 20px;
}

.image {
  width: 30px;
  height: 45px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.links{
  margin-top: 20px;
}

.btn {
  color: rgb(248, 180, 97); 
  background-color: rgb(252, 230, 203);
  padding: 5px;
  border-width: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  border-radius: 10px;
}

.icon {
  height: 50px;
}

.yesno {
  height: 10px;
}

.detail_pic {
  height: 400px;
  border-radius: 10px;
}

.dashboard_pic {
  height: 200px;
}



p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  text-align: center;
  color: rgb(63, 51, 37);
  margin-top: 20px;
}

